{% extends 'base.html' %}
{% load url from future %}

{% block sidebar %}
    <ul>
        <li><a href="{% url 'people/members-list' domain.code_name entry.id %}">بازگشت به لیست افراد  دوره</a></li>
        <li><a href="{% url 'admin:people_member_change' member.id %}" target="_blank">ویرایش اطلاعات این فرد</a></li>
    </ul>
{% endblock %}

{% block content %}
    <table border="0" style="margin-right: 100px;">
        <tr>
            <th>نام:</th>
            <td>{{ member.first_name }}</td>
            <td rowspan="3"><img src="{{ member.image_url }}" style="margin-right: 200px;"/></td>
        </tr>
        <tr>
            <th>نام خانوادگی:</th>
            <td>{{ member.last_name }}</td>
        </tr>
        <tr>
            <th>جنسیت:</th>
            <td>{{ member.get_gender_display }}</td>
        </tr>
        <tr>
            <th>دوره:</th>
            <td>{{ member.entry }}</td>
        </tr>
        <tr>
            <th>سن:</th>
            <td>{{ member.age|default_if_none:'' }}</td>
        </tr>
        <tr>
            <th>شماره شناسنامه:</th>
            <td>{{ member.identification_number }}</td>
        </tr>
        <tr>
            <th>همسر:</th>
            <td>-</td>
        </tr>
        <tr>
            <th>شماره تلفن ثابت:</th>
            <td>{{ member.phone }}</td>
        </tr>
        <tr>
            <th>شماره تلفن همراه:</th>
            <td>{{ member.mobile }}</td>
        </tr>
        <tr>
            <th>سوابق تحصیلی:</th>
            <td>
                <ul>
                    {% for record in member.university_records.all %}
                        <li>{{ record }}</li>
                    {% empty %}
                        <span>ندارد</span>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>سوابق شغلی:</th>
            <td>
                <ul>
                    {% for record in member.employment_records.all %}
                        <li>{{ record }}</li>
                    {% empty %}
                        <span>ندارد</span>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}
